*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(57, 61, 63, 0.6);
}

.div_1{
    height: 800px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* Composer 01 */

.composer_1{
    height: 320px;
    width: 600px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.composer1_div_1{
    height: 240px;
    width: 510px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.composer1_div_2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.composer_1 img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.img_name{
    display: flex;
    align-items: center;
    gap: 18px;
}

.name{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name h3{
    font-weight: 700;
    font-size: 21px;
    color: black;
}

.name p{
    font-size: 15px;
    font-weight: 400;
    color: #252323;
    font-size: 14px;
}

.x-icon{
    font-size: 16px;
}

.m_p_tag{
    color: #7f7f7f;
    margin-top: 29px;
    font-size: 17px;
}

.down_icons{
    display: flex;
    gap: 25px;
}

.down_icons img{
    width: 22px;
}

.down_icons img.icn_1{
    width: 23px;
}

.down_icons img.icn_2{
    width: 23px;
}

.down_elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -5px;
    border-top: 2px solid #e5e5e5;
    padding-top: 14px;
}

.btn{
    border: none;
    padding: 11px 30px;
    border-radius: 100px;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
}


/* Composer 02 */

.composer_2{
    height: 320px;
    width: 600px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.composer2_div_1{
    height: 240px;
    width: 510px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.composer2_div_2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.composer_2 img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.comp2_img_name{
    display: flex;
    align-items: center;
    gap: 18px;
}

.comp2_name{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.comp2_name h3{
    font-weight: 700;
    font-size: 21px;
    color: white;
}

.comp2_name p{
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.82);
    font-size: 14px;
}

.comp2_x-icon{
    font-size: 16px;
    color: white;
}

.comp2_m_p_tag{
    color: rgba(229, 229, 229, 0.7);
    margin-top: 29px;
    font-size: 17px;
}

.comp2_down_icons{
    display: flex;
    gap: 25px;
}

.comp2_down_icons img{
    width: 22px;
}

.comp2_down_icons img.icn_1{
    width: 23px;
}

.comp2_down_icons img.icn_2{
    width: 23px;
}

.comp2_down_elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -5px;
    border-top: 2px solid rgba(80, 80, 80, 0.6);
    padding-top: 14px;
}

.comp2_btn{
    border: none;
    padding: 11px 30px;
    border-radius: 100px;
    background: white;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

